body {

}

@default-grey-color: #8c8c8c;
@default-black-color: #282828;

.container {

  font-family: "Helvetica", "Arial", sans-serif;

  width: 100%;
  max-width: 1300px;
  margin: 10px auto 5px;

  .goods {

    margin-top: 10px;

    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));

    .good_item {

    }
    .good_more_button {

      cursor: pointer;
      color: @default-grey-color;

      .plus {
        background: #cecece;
        text-align: center;
        height: 300px;
        width: 300px;
        line-height: 250px;
        font-size: 300px;
        margin-bottom: 5px;
      }
    }
  }

  .sorting {

    a {

      color: @default-grey-color;
      text-decoration: none;

      &.selected {
        color: @default-black-color;

        text-decoration: underline;
      }
    }

  }

}

.pageTitle {
  font-size: 25px;

  margin-bottom: 5px;

  &:empty {
    display: none;
  }
}

#page_load_time {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  background: black;
  padding: 2px 7px;
  font-size: 11px;
  color: white;
}

form.goods_manage {
  .input {
    font-size: 17px;
    margin-bottom: 10px;

    label {
      display: block;
    }
    input, textarea {
      margin-top: 3px;
      width: 100%;
      border: 1px solid #cecece;
      padding: 5px;
      font-size: 15px;
      outline: none;
      box-sizing: border-box;

      &:focus {
        outline: 1px solid @default-grey-color;
      }
    }

    textarea {
      resize: none;
    }
  }

  .error_block {

    padding: 5px;
    background: rgba(255, 0, 0, 0.24);
    border: 1px solid red;
    margin: 5px 0;

    &:empty {
      display: none;
    }
  }

  .deleteButton {

    &:empty {
      display: none;
    }
  }
}