<form class="goods_manage" method="post">

	<div class="error_block">{{error}}</div>
	<div class="success_block">{{success}}</div>

	<div class="input">
		<label for="name">Название</label>
		<input type="text" name="name" id="name" value="{{Name}}" maxlength="50" required>
	</div>
	<div class="input">
		<label for="description">Описание</label>
		<textarea name="description" class="autoSize" id="description" maxlength="400" rows="3" required>{{Description}}</textarea>
	</div>
	<div class="input">
		<label for="price">Цена</label>
		<input type="text" name="price" id="price" value="{{Price}}" maxlength="11" pattern="[0-9]{1,8}(?:\.[0-9]{0,2})?" required>
	</div>
	<div class="input">
		<label for="photo">Фото</label>
		<input type="url" name="photo" id="photo" value="{{PhotoURL}}" maxlength="100" required>
	</div>
	<div class="input">
		<input type="submit" class="btn btn-success" value="Сохранить">
	</div>

</form>